
body {
    width: 1800px;
    margin: 0 auto;
    font-family: 'Special Elite', 'Open  Sans', cursive;
    font-size: 22px;
    /*background-color: rgba(255, 255, 255, 0.897); */
    background-color: black;
    /*color: black;*/
    color: rgba(255, 255, 255, 0.904);
    padding: 0 20px 20px 30px;
    border: 5px solid black;
}
p, li, h2, h3 {
    margin: 0 800px 0 10px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
    padding: 10px;
}
/*h3, h2 {
    text-shadow: 2px 2px 1px grey;
}
*/
.head-banner {
    margin: 0;
    background-color: black;
    color: #F43E1A;
    font-family: 'Special Elite', cursive;
}
#me {
    text-align: center;
    /*padding-left: 45%;*/
    font-size: 6em;
}
.day {
    width: auto;
    transition: transform .2s;
    height: auto;
    margin: 0, 0, 0 10px;
}

.night {
    width: auto;
    height: auto;
    transition: transform .2s;
    
}
.day:hover {
    transform: scale(1.02);
}
.night:hover {
    transform: scale(1.02);
}
#to-right {
    position: absolute;
}
.next {
    margin-left: 30%;
}