
body {
    width: 1200px;
    height: auto; 
    margin: 0 auto;
    font-family: 'Special Elite', 'Open  Sans', cursive;
    font-size: 14px;
    /*background-color: rgba(255, 255, 255, 0.897); */
    background-color: black;
    /*color: black;*/
    color: rgba(255, 255, 255, 0.904);
    padding: 0 20px 20px 30px;
    border: 5px solid black;
}
p, li, h2, h3 {
    margin: 0 50% 0 10px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
    padding: 10px;
}
/*h3, h2 {
    text-shadow: 2px 2px 1px grey;
}
*/
.head-banner {
    margin: 0;
    background-color: black;
    color: #F43E1A;
    font-family: 'Special Elite', cursive;
}
#me {
    text-align: center;
    /*padding-left: 45%;*/
    font-size: 7em;
    padding-top: 1px;
}
.day { 
    margin: 5px 0 10px 0;

    transition: transform .2s;
 /*   height: auto; */
}

.night {
    position: absolute;
    right: 50%; 
    padding: 25px 10px;
    transition: transform .2s;
    opacity: .6;
    
}
.day:hover {
    transform: scale(1.02);
}
.night:hover {
    transform: scale(1.02);
}
#to-right {
    position: absolute;
}
/*.next {


}
.right {
    margin: 0 0 0 50%;
}
footer {
    /*position: absolute;
    width: 1800px;
    
} */
footer > div > p {
    display: inline-block;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-left: 15px;
    padding-top: 20px;
}
footer > div > a{
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 190px;
    text-align: right;
    color: whitesmoke;
}
#gene {
    position: absolute;
    top: 560px;        
    opacity: 0.3;
}
#me-img {
    position: relative;
    left: 545px;
    top: -65px;
    border-radius: 50%;
}
#horizon {
    background-color: red;
}
#linker > a {
    display: inline;
    margin: 90px;
    color: whitesmoke;
    font-size: 18px;
}
#links-head {
    margin: 30px 0 30px 0;
}
#foot {
    display: inline-block;
    width: 100%;
    height: 70px;
    border: 1px solid rgb(185, 168, 168);
    margin-top: 50px;
}